.github-main {
  background-color: #070f3d;
  height: 100%;
}
.title {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
}

#projectName {
  padding: 12px;
  border-radius: 10px;
  outline: none;
  margin: 20px;
}

.label {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
}

.search {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: white;
}
.search:hover {
  background-color: lightgray;
}

.input-bar {
  margin-left: 30px;
}

.repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
  margin-left: 5%;
  background-color: #081353;
  width: 88%;
  padding: 20px;
}

.repo-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.repo-owner {
  font-size: 1rem;
  margin-bottom: 8px;
}

.repo-desc {
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 8px;
}
.repo-url {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
a {
  color: red;
}

@media (max-width: 450px) {
  .repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
    background-color: #081353;
    width: 80%;
    padding: 20px;
  }
}
